# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Gonçalo Nogueira
	email = jgoncalonogueira@gmail.com

[core]
    editor = nvim
    autocrlf = input

[alias]
    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    s = status
    ci = commit
    ca = commit -a
    co = checkout
    br = branch
    logg = log --graph --oneline
    unstage = reset HEAD
    dfs = diff --staged
[pull]
	rebase = false
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
