# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Gonçalo Nogueira
	email = g.nogueira@kaizengaming.com

[core]
    editor = nvim
    autocrlf = input

[alias]
    no-assume-unchanged = update-index --no-assume-unchanged
    assume-unchanged = update-index --assume-unchanged
    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    s = status
    ci = commit
    ca = commit -a
    co = checkout
    br = branch
    logg = log --graph --oneline
    unstage = reset HEAD
    dfs = diff --staged
	mrlab = "!f() { \\\n    remote_url=$(git config --get remote.origin.url | sed -e \"s|git@gitlab.com:|https://gitlab.com/|\" -e \"s|.git$||\"); \\\n    branch=$(git rev-parse --abbrev-ref HEAD); \\\n    open \"${remote_url}/-/merge_requests/new?merge_request[source_branch]=${branch}\"; \\\n}; f"
[pull]
	rebase = false
[merge]
  tool = nvimdiff-merge
[mergetool]
  prompt = true
[mergetool "nvimdiff-merge"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = nvim -d $LOCAL $REMOTE
[rerere]
	enabled = true
